{{#if isClosed}}
<div class="panel panel-primary">
    <div class="panel-heading"><span class="kor">오늘은 영업하지 않습니다.</span><span class="eng hidden">We're closed today</span>
    </div>
</div>
{{/if}}

{{#if foods.b1}}
<div class="panel panel-primary">
    <div class="panel-heading"><span class="kor">지하 1층</span><span class="eng hidden">B1</span>
    </div>
    {{> jamsilMenu foods.b1}}
</div>
{{/if}}

{{#if foods.b2}}
<div class="panel panel-primary">
    <div class="panel-heading"><span class="kor">지하 2층</span><span class="eng hidden">B2</span>
    </div>
    {{> jamsilMenu foods.b2}}
</div>
{{/if}}

<div class="panel panel-default">
	<div class="panel-heading"><span class="kor">운영시간 안내</span><span class="eng hidden">Hours of Operation</span></div>
    <ul class='list-group'>
        <li class="list-group-item">
            <strong><span class="kor">월요일 - 금요일</span><span class="eng hidden">Monday - Friday</span></strong><br>
            <span class="kor">아침</span><span class="eng hidden">Breakfast</span> 06:30 - 08:15<br>
            <span class="kor">점심</span><span class="eng hidden">Lunch</span> 11:30 - 13:15<br>
            <span class="kor">저녁</span><span class="eng hidden">Dinner</span> 18:00 - 19:00
        </li>
        <li class="list-group-item">
    		<strong><span class="kor">토요일</span><span class="eng hidden">Saturday</span></strong><br>
    		<span class="kor">점심</span><span class="eng hidden">Lunch</span> 11:30 - 12:30
        </li>
    </ul>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><span class="kor">모든 지역 메뉴 목록</span><span class="eng hidden">All Location</span></div>
    <ul class='list-group'>
        <li class="list-group-item">
            <span class="kor"><a href="/jamsil">잠실</a></span>
            <span class="eng hidden"><a href="/jamsil">Jamsil</a></span>
        </li>
        <li class="list-group-item">
            <span class="kor"><a href="/umyeon">우면</a></span>
            <span class="eng hidden"><a href="/umyeon">Umyeon</a></span>
        </li>
    </ul>
</div>

<div class="panel panel-default">
	<div class="panel-heading"><span class="kor">제작자 알림</span><span class="eng hidden">Notice</span></div>
	<ul class='list-group'>
		<li class="list-group-item">
			<span class="kor">이곳에 표시하는 모든 데이터(이미지 포함)의 권한은 <a href="http://www.sdsfoodmenu.co.kr:9106/foodcourt/menuplanner/list">sdsfoodmenu</a>에 있습니다.</span>
			<span class="eng hidden">Rights of all data including images belong to <a href="http://www.sdsfoodmenu.co.kr:9106/foodcourt/menuplanner/list">sdsfoodmenu</a>.</span>
		</li>
		<li class="list-group-item">
			<span class="kor">이 사이트를 더 좋게 만들어주세요.</span><span class="eng hidden">Any contribution is welcome.</span>
			<a href="https://github.com/kimhanjoon/sdsfoodcourtmenu">GitHub</a>
		</li>
	</ul>
</div>

</div>

<div id="uploadPhotoConfirmMessage" class="hidden">
	<span class="kor">보내주신 사진 외에는 다른 정보를 저장하지 않습니다.
	한번 보낸 사진은 취소가 불가능합니다.
	사진을 보내겠습니까?</span>
	<span class="eng hidden">Other information except the photo will not be saved.
	The uploaded photo would not be withdrawn.
	Would you like to upload a photo?</span>
</div>
<div id="uploadPhotoSuccessMessage" class="hidden">
	<span class="kor">사진 전송이 완료되었습니다.
	관리자의 판단에 따라 사용되지 않을 수 있습니다.
	감사합니다.</span>
	<span class="eng hidden">The transfer is completed.
	Photo may not be used at the discretion of the site manager.
	Thank you.</span>
</div>

<form class="hidden" action="uploadphoto" method="post" enctype="multipart/form-data">
	<input type="text" id="foodId" name="foodId" />
	<input type="file" id="foodPhoto" name="foodPhoto" accept="image/*" />
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.js"></script>
<script type="text/javascript">
$(function() {

	$("#language").click(function() {
		$(".kor,.eng,.title_kor,.title_eng").toggleClass("hidden");
	});

	// 브라우저가 영어권으로 셋팅되어있으면 영어가 기본셋팅
	{{#if englishLanguage}}
	$("#language").click();
	{{/if}}

	// 아코디언 이벤트 걸기
	$(".collapse-trigger").click(function() {
		$(this).closest(".collapse-boundary").find(".collapse").collapse("toggle");
	});

	// 사진찍기 버튼은 공통의 form을 사용하도록 별도 file input을 click하게 만든다.
	$(".take-photo").click(function() {
		if( confirm($("#uploadPhotoConfirmMessage span:not(.hidden)").text()) ) {
			$("#foodId").val($(this).closest(".food").data("food-id"));
			$("#foodPhoto").val("");	// 같은 파일을 업로드해도 동작하도록 초기화
			$("#foodPhoto").click();
		}
	});

	// 파일을 서버로 전송
	$("#foodPhoto").change(function (event) {
 		$("form").ajaxSubmit({
 			success: function() {
 		        alert($("#uploadPhotoSuccessMessage span:not(.hidden)").text());
 		    }
 		});
	});

});
</script>
