<div class="panel panel-primary">
    <div class="panel-heading"><span class="kor">상암</span><span class="eng hidden">Sangam</span></div>
    {{> jamsilMenu foods}}
</div>

{{> locations}}

{{> notice refer='<a href="http://www.sdsfoodmenu.co.kr:9106/foodcourt/menuplanner/list?zoneId=SA">sdsfoodmenu</a>'}}
