<div class="panel panel-primary">
    <div class="panel-heading"><span class="kor">상암</span><span class="eng hidden">Sangam</span></div>
    {{> jamsilMenu foods}}
</div>

{{> locations}}

<div class="panel panel-default">
	<div class="panel-heading"><span class="kor">제작자 알림</span><span class="eng hidden">Notice</span></div>
	<ul class='list-group'>
		<li class="list-group-item">
			<span class="kor">이곳에 표시하는 모든 데이터(이미지 포함)의 권한은 <a href="http://www.sdsfoodmenu.co.kr:9106/foodcourt/menuplanner/list?zoneId=SA">sdsfoodmenu</a>에 있습니다.</span>
			<span class="eng hidden">Rights of all data including images belong to <a href="http://www.sdsfoodmenu.co.kr:9106/foodcourt/menuplanner/list?zoneId=SA">sdsfoodmenu</a>.</span>
		</li>
		<li class="list-group-item">
			<span class="kor">이 사이트를 더 좋게 만들어주세요.</span><span class="eng hidden">Any contribution is welcome.</span>
			<a href="https://github.com/kimhanjoon/sdsfoodcourtmenu">GitHub</a>
		</li>
	</ul>
</div>
