{{#if isClosed}}
<div class="panel panel-primary">
    <div class="panel-heading">
    	<span class="kor">오늘은 영업하지 않습니다.</span><span class="eng hidden">We're closed today</span>
    </div>
</div>
{{/if}}

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#breakfast-tab" aria-controls="breakfast" role="tab" data-toggle="tab"><span class="kor">아침</span><span class="eng hidden">Breakfast</span></a></li>
    <li role="presentation"><a href="#lunch-tab" aria-controls="lunch" role="tab" data-toggle="tab"><span class="kor">점심</span><span class="eng hidden">Lunch</span></a></li>
    <li role="presentation"><a href="#dinner-tab" aria-controls="dinner" role="tab" data-toggle="tab"><span class="kor">저녁</span><span class="eng hidden">Dinner</span></a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane {{#is time 'breakfast'}}active{{/is}}" id="breakfast-tab">

{{#if foods.breakfast.cafeteria2}}
<div class="panel panel-primary">
    <div class="panel-heading">
    	<span class="kor">Cafeteria 2</span><span class="eng hidden">Cafeteria 2</span>
    </div>
    	{{> umyeonMenu foods.breakfast.cafeteria2}}
</div>
{{/if}}
    
    </div>
    <div role="tabpanel" class="tab-pane" id="lunch-tab">

{{#if foods.lunch.cafeteria2}}
<div class="panel panel-primary">
    <div class="panel-heading">
    	<span class="kor">Cafeteria 2</span><span class="eng hidden">Cafeteria 2</span>
    </div>
    {{> umyeonMenu foods.lunch.cafeteria2}}
</div>
{{/if}}

{{#if foods.lunch.cafeteria1}}
<div class="panel panel-primary">
    <div class="panel-heading">
    	<span class="kor">Cafeteria 1</span><span class="eng hidden">Cafeteria 1</span>
    </div>
    {{> umyeonMenu foods.lunch.cafeteria1}}
</div>
{{/if}}
    
    </div>
    <div role="tabpanel" class="tab-pane" id="dinner-tab">

{{#if foods.dinner.cafeteria2}}
<div class="panel panel-primary">
    <div class="panel-heading">
    	<span class="kor">Cafeteria 2</span><span class="eng hidden">Cafeteria 2</span>
    </div>
    {{> umyeonMenu foods.dinner.cafeteria2}}
</div>
{{/if}}
    
    </div>
  </div>

<div class="panel panel-default">
    <div class="panel-heading">
    	<span class="kor">모든 지역 메뉴 목록</span><span class="eng hidden">All Location</span>
    </div>
    <ul class='list-group'>
        <li class="list-group-item">
            <span class="kor"><a href="/jamsil">잠실</a></span>
            <span class="eng hidden"><a href="/jamsil">Jamsil</a></span>
        </li>
        <li class="list-group-item">
            <span class="kor"><a href="/umyeon">우면</a></span>
            <span class="eng hidden"><a href="/umyeon">Umyeon</a></span>
        </li>
    </ul>
</div>

<div class="panel panel-default">
	<div class="panel-heading"><span class="kor">제작자 알림</span><span class="eng hidden">Notice</span></div>
	<ul class='list-group'>
		<li class="list-group-item">
			<span class="kor">이곳에 표시하는 모든 데이터의 권한은 <a href="http://welstory.com/menu/seoulrnd/menu.jsp">welstory.com</a>에 있습니다.</span>
			<span class="eng hidden">Rights of all data belong to <a href="http://welstory.com/menu/seoulrnd/menu.jsp">welstory.com</a>.</span>
		</li>
		<li class="list-group-item">
			<span class="kor">이 사이트를 더 좋게 만들어주세요.</span><span class="eng hidden">Any contribution is welcome.</span>
			<a href="https://github.com/kimhanjoon/sdsfoodcourtmenu">GitHub</a>
		</li>
	</ul>
</div>

</div>


<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script>
$(function() {
	
	// 아코디언 토글할때마다 화살표 변경
	$('body').on('hidden.bs.collapse shown.bs.collapse', function toggleChevron(e) {
	    $(e.target)
        .prev('.panel-heading')
        .find("i.indicator")
        .toggleClass('glyphicon-chevron-down glyphicon-chevron-up');
	});
});
</script>
