# image files
/image
/photo
/uploadphoto
/downloadphoto

# properties
/email_properties.json

# database
/schedule/database
/telegrambot/telegrambot_user.json

# development
/node_modules

# deployment
/deploy.*
/nohup.out
/telegrambot/deploy.*
/telegrambot/nohup.out
