<!DOCTYPE html>
<html lang="ko">
<head>
    <title>delacourt at a glance</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<style>
	.media { overflow: visible; }
	</style>
	
	<link href="http://fat.github.io/zoom.js/css/zoom.css" rel="stylesheet">
	<style>
	.zoom-overlay-open .zoom-overlay {
	  filter: "alpha(opacity=85)";
	  opacity: 0.85;
	}
	</style>
</head>
<body>

<div class="page-header">
	<button type="button" class="btn btn-info btn-xs pull-right" id="language"><span class="kor">English</span><span class="eng hidden">한글</span></button>
	<h1>delacourt <small>at a glance</small></h1>
</div>

{% macro display_foods(foods) %}
<div class="list-group">
{% for food in foods %}
	<div class="list-group-item">
		<div class="media">
		  <div class="media-left">
		      <img class="media-object" src="http://www.sdsfoodmenu.co.kr:9106/{{food.img_src}}" style="width:80px;" data-action="zoom">
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading">
		    	{% if food.soldout %}<del>{% endif %}
		    	<span class="title_kor">{{food.title_kor}}</span>
		    	<span class="title_eng hidden">{{food.title_eng}}</span>
		    	{% if food.soldout %}</del>{% endif %} 
		    	<span class="corner badge pull-right">{{food.corner}}</span>
		    </h4>
		    <p><span class="kcal">{{food.kcal}} kcal</span><br />
		    {% if not food.soldout %}<span class="price payments"><del><span class="eng hidden">&#8361;</span> {{food.price}} <span class="kor">원</span></del><span class="eng hidden">&#8361;</span> {{food.payments}} <span class="kor">원</span></span>
		    {% else %}<span class="soldout text-danger"><span class="kor">판매종료</span><span class="eng hidden">SOLD OUT</span></span>
		    {% endif %}
		    </p>
		  </div>
		</div>
	</div>
{% endfor %}
</div>
{% endmacro %}

<div class="panel panel-primary">
	<div class="panel-heading"><span class="kor">지하 1층</span><span class="eng hidden">B1</span>
		<a href="http://www.sdsfoodmenu.co.kr:9106/foodcourt/menuplanner/list?zoneId=ZONE01" class="btn btn-default btn-xs pull-right">Link</a>
	</div>

	{{ display_foods(b1foods) }}
</div>

<div class="panel panel-primary">
	<div class="panel-heading"><span class="kor">지하 2층</span><span class="eng hidden">B2</span>
		<a href="http://www.sdsfoodmenu.co.kr:9106/foodcourt/menuplanner/list?zoneId=ZONE02" class="btn btn-default btn-xs pull-right">Link</a>
	</div>

	{{ display_foods(b2foods) }}
</div>

<div class="panel panel-default">
	<div class="panel-heading">운영시간 안내</div>
	<div class="panel-body">
		<span style="font-size: 13px; color: #737373">아침 06:30 - 08:15</span><br>	
		<span style="font-size: 13px; color: #737373">점심 11:30 - 13:15</span><br> 
		<span style="font-size: 13px; color: #737373">저녁 18:00 - 19:00</span><br>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">Support</div>
	<ul class='list-group'>
		<li class="list-group-item">
		<a href="mailto:kimhanjoon@gmail.com">Email me</a> for bugs or requests
		</li>
		<li class="list-group-item">
		Any contribution is welcome. <a href="https://github.com/kimhanjoon/sdsfoodcourtmenu">GitHub</a>
		</li>
	</ul>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-62912065-1', 'auto');
  ga('send', 'pageview');
</script>
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="http://fat.github.io/zoom.js/js/zoom.js"></script>
<script type="text/javascript">
$(function() {
	$("#language").click(function() {
		$(".kor,.eng,.title_kor,.title_eng").toggleClass("hidden");
	});
});
</script>
</body>
</html>
