<!DOCTYPE html>
<html lang="ko">
<head>
    <title>delacourt in simple</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		
	<!-- Optional theme -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    
	<!-- Latest compiled and minified JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<style type="text/css">
body {
	background-color: #0b2c19
}
</style>
</head>
<body>
  <ul class="list-group">
{% for food in foods %}
  <li class="list-group-item">
{% if not soldout %}<span class="badge">{{food.corner}}</span>{% endif %}
    {{food.title_kor}}
  </li>
{% endfor %}

  <li class="list-group-item">
  <a href="https://github.com/kimhanjoon/sdsfoodcourtmenu/issues/new">Here</a> for bugs or requests
  </li>
  <li class="list-group-item">
  Any contribution is welcome. <a href="https://github.com/kimhanjoon/sdsfoodcourtmenu">Please</a>
  </li>
</ul>
</body>
</html>