<!DOCTYPE html>
<html lang="ko">
<head>
    <title>delacourt at a glance</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">
    <style>
    .container {
        padding-right: 0px;
        padding-left: 0px;
    }
    .media {
        overflow: visible;
    }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
</head>
<body>


{{#if redirect}}
<div class="container-fluid">
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <span class="title_kor">접속 주소가 <strong><a href="http://daag.pe.kr">daag.pe.kr</a></strong>로 바뀌었습니다.</span>
      <span class="title_eng hidden">Page Address changed to <strong><a href="http://daag.pe.kr">daag.pe.kr</strong></a>.</span>
    </div>
    <script type="text/javascript">
    history.replaceState({}, "", "/");
    </script>
</div>
{{/if}}

<div class="container-fluid">

<div class="page-header">
    <h1>delacourt <small>at a glance</small></h1>
</div>

<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">{{> weekday_menu foods.day1}}</div>
        <div class="swiper-slide">{{> weekday_menu foods.day2}}</div>
        <div class="swiper-slide">{{> weekday_menu foods.day3}}</div>
        <div class="swiper-slide">{{> weekday_menu foods.day4}}</div>
        <div class="swiper-slide">{{> weekday_menu foods.day5}}</div>
        <div class="swiper-slide">{{> weekday_menu foods.day6}}</div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><span class="kor">운영시간 안내</span><span class="eng hidden">Hours of Operation</span></div>
    <div class="panel-body">
        <p>
        ㅁ<span class="kor">월요일 - 금요일</span><span class="eng hidden">Monday - Friday</span><br>
        <span class="kor">아침</span><span class="eng hidden">Breakfast</span> 06:30 - 08:15</span><br>
        <span class="kor">점심</span><span class="eng hidden">Lunch</span> 11:30 - 13:15</span><br>
        <span class="kor">저녁</span><span class="eng hidden">Dinner</span> 18:00 - 19:00</span>
        </p>
        <p>
        ㅁ<span><span class="kor">토요일</span><span class="eng hidden">Saturday</span></span><br>
        <span><span class="kor">점심</span><span class="eng hidden">Lunch</span> 11:30 - 12:30</span>
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><span class="kor">제작자 알림</span><span class="eng hidden">Notice</span></div>
    <ul class='list-group'>
        <li class="list-group-item">
            <span class="kor">이곳에 표시하는 모든 데이터(이미지 포함)의 권한은 <a href="http://www.sdsfoodmenu.co.kr:9106/foodcourt/menuplanner/list">sdsfoodmenu</a>에 있습니다.</span>
            <span class="eng hidden">Rights of all data including images belong to <a href="http://www.sdsfoodmenu.co.kr:9106/foodcourt/menuplanner/list">sdsfoodmenu</a>.</span>
        </li>
        <li class="list-group-item">
            <span class="kor">이 사이트를 더 좋게 만들어주세요.</span><span class="eng hidden">Any contribution is welcome.</span>
            <a href="https://github.com/kimhanjoon/sdsfoodcourtmenu">GitHub</a>
        </li>
    </ul>
</div>

</div>


{{#if googleAnalytics}}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-62912065-1', 'auto');
  ga('send', 'pageview');
</script>
{{/if}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
<script type="text/javascript">
$(function() {
  var mySwiper = new Swiper('.swiper-container', {
      prevButton: '.menu-prev',
      nextButton: '.menu-next',
      spaceBetween: 30
  });
});
</script>
</body>
</html>
