<!DOCTYPE html>
<html lang="ko">
<head>
    <title>delacourt at a glance</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>

<div class="container-fluid">

<div class="page-header">
	<h1>delacourt <small>at a glance</small></h1>
</div>

{{#if isClosed}}
<div class="panel panel-primary">
    <div class="panel-heading"><span class="kor">오늘은 영업하지 않습니다.</span><span class="eng hidden">We're closed today</span>
    </div>
</div>
{{/if}}

{{#if foods.breakfast.cafeteria1}}
<div class="panel panel-primary">
    <div class="panel-heading"><span class="kor">아침, Cafeteria 1</span><span class="eng hidden">Cafeteria 1</span>
    </div>
    {{> umyeon_menu foods.breakfast.cafeteria1}}
</div>
{{/if}}

{{#if foods.lunch.cafeteria1}}
<div class="panel panel-primary">
    <div class="panel-heading"><span class="kor">점심, Cafeteria 1</span><span class="eng hidden">Cafeteria 1</span>
    </div>
    {{> umyeon_menu foods.lunch.cafeteria1}}
</div>
{{/if}}

{{#if foods.lunch.cafeteria2}}
<div class="panel panel-primary">
    <div class="panel-heading"><span class="kor">점심, Cafeteria 2</span><span class="eng hidden">Cafeteria 1</span>
    </div>
    {{> umyeon_menu foods.lunch.cafeteria2}}
</div>
{{/if}}

{{#if foods.dinner.cafeteria1}}
<div class="panel panel-primary">
    <div class="panel-heading"><span class="kor">저녁, Cafeteria 1</span><span class="eng hidden">Cafeteria 1</span>
    </div>
    {{> umyeon_menu foods.dinner.cafeteria1}}
</div>
{{/if}}

<div class="panel panel-default">
    <div class="panel-heading"><span class="kor">모든 지역 메뉴 목록</span><span class="eng hidden">All Location</span></div>
    <ul class='list-group'>
        <li class="list-group-item">
            <span class="kor"><a href="/jamsil">잠실</a></span>
            <span class="eng hidden"><a href="/jamsil">jamsil</a></span>
        </li>
        <li class="list-group-item">
            <span class="kor"><a href="/umyeon">우면</a></span>
            <span class="eng hidden"><a href="/umyeon">Umyeon</a></span>
        </li>
    </ul>
</div>

<div class="panel panel-default">
	<div class="panel-heading"><span class="kor">제작자 알림</span><span class="eng hidden">Notice</span></div>
	<ul class='list-group'>
		<li class="list-group-item">
			<span class="kor">이곳에 표시하는 모든 데이터의 권한은 <a href="http://welstory.com/menu/seoulrnd/menu.jsp">welstory.com</a>에 있습니다.</span>
			<span class="eng hidden">Rights of all data belong to <a href="http://welstory.com/menu/seoulrnd/menu.jsp">welstory.com</a>.</span>
		</li>
		<li class="list-group-item">
			<span class="kor">이 사이트를 더 좋게 만들어주세요.</span><span class="eng hidden">Any contribution is welcome.</span>
			<a href="https://github.com/kimhanjoon/sdsfoodcourtmenu">GitHub</a>
		</li>
	</ul>
</div>

</div>


{{#if googleAnalytics}}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-62912065-1', 'auto');
  ga('send', 'pageview');
</script>
{{/if}}

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script> -->
</body>
</html>
