<div class="panel panel-default">
    <div class="panel-heading"><span class="kor">모든 지역</span><span class="eng hidden">All Location</span></div>
    <div class='list-group'>
        <a href="/jamsil" class="list-group-item">
            <span class="kor">잠실</span>
            <span class="eng hidden">Jamsil</span>
        </a>
        <a href="/umyeon" class="list-group-item">
            <span class="kor">우면</span>
            <span class="eng hidden">Umyeon</span>
        </a>
        <a href="/sangam" class="list-group-item">
            <span class="kor">상암</span>
            <span class="eng hidden">Sangam</span>
        </a>
    </div>
</div>